---
layout: page
title: Projects
---

<h2>Projects that I have worked on</h2>
<!-- <section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section> -->
<h4> Solo </h4>
<ul>
	<li><a href="http://filmzter.herokuapp.com/">'Filmster' movie review app using Rails, jQuery/AJAX, BootStrap</a></li>
	<li><a href="http://srijal-instapost.herokuapp.com/">'Instagram' clone using Rails</a></li>
  <li><a href="http://financely.herokuapp.com/">Simple finance tracking app using Rails</a></li>
  <li><a href="http://srijal-ideator.herokuapp.com/">Simple Idea sharing app using Rails</a></li>
</ul>
<h4> Teamwork </h4>
<ul>
	<li><a href="https://cancer-partners.com/">Social Networking site for Japanese Cancer patients</a></li>
</ul>
